@font-face {
  font-family: dndFont;
  src: url("fonts/dndfont.TTF");
}

*{
  margin: 0px;
  padding: 0px;
}

#title{
  position: absolute;
  top: 30px;
  color: white;
  font-size: 32px;
}

#goToStory{
  position: absolute;
  left: 110px;
  top: 500px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  background-color: green;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 1px 1px 10px grey;
}
#goToStory:hover{
  background-color: rgb(14, 189, 14);
  cursor: pointer;
}

#bookTitle{
  position: absolute;
  left: 30px;
  top: 200px;
  font-size: 50px;
  color: gold;
  text-align: center;
}

#alto {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333;
  perspective: 1000px;
}

#desc{
  position: absolute;
  top: 25px;
  font-size: 22px;
}

.book {
  margin-top:30px;
  display: flex;
  align-items: center;
}
.book:hover .cover{
  transform: rotateX(10deg) rotateY(-180deg);
}

.book:hover .page{
  transform: rotateX(10deg) rotateY(-180deg);
  z-index: 2;
}

.cover{
  z-index: 1;
  transition: all 3s;
}

.back-cover{
  z-index: -2;
}
.cover,
.back-cover{
  height: 600px;
  width: 400px;
  background: rgb(136, 11, 11);
  border-radius: 2px 20px 20px 2px;
  position: absolute;
  box-shadow: 1px 1px 10px gray;
  transform: rotateX(10deg);
  transform-origin: center left;
}

.page,
.last-page{
  height: 580px;
  width: 390px;
  background: rgb(228, 227, 185);
  position: absolute;
  border-radius: 2px 10px 10px 2px;
  transform: rotateX(10deg);
  transform-origin: center left;
  z-index: -1;
}

.page:nth-child(2){
  transition-duration: 3s;
}

.page:nth-child(3){
  transition-duration: 2.6s;
}

.page:nth-child(4){
  transition-duration: 2.2s;
}

.page:nth-child(5){
  transition-duration: 1.8s;
}
.page:nth-child(6){
  transition-duration: 1.4s;
}

.book:hover .page:nth-child(2){
  transition-duration: 6s;
}
.book:hover .page:nth-child(3){
  transition-duration: 5.6s;
}
.book:hover .page:nth-child(4){
  transition-duration: 5.2s;
}
.book:hover .page:nth-child(5){
  transition-duration: 4.8s;
}
.book:hover .page:nth-child(6){
  transition-duration: 4.4s;
}

.last-page h2{
  text-align: center;
  font-size: 32px;
}

#info{
  position: absolute;
  top: 110px;
  color: white;
  font-size: 20px;
}

.scroll-down {
  height: 50px;
  width: 30px;
  position: absolute;
  left: 76%;
  bottom: 440px;
  border-radius: 50px;
}
.scroll-down::before,
.scroll-down::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 85%;
  height: 30px;
  width: 30px;
  transform: translate(-50%, -100%) rotate(135deg);
  border: 2px solid black;
  border-top: transparent;
  border-left: transparent;
  animation: scroll-down 1s ease-in-out infinite;
}
.scroll-down::before {
  left: 90%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

.adventureButton{
  text-decoration: none;
}

@keyframes scroll-down {
  0% {
    /* top:20%; */
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    left: 30%;
    opacity: 0;
  }
}

